<launch>
    <!-- For playing the bag file -->
    <arg name="path" default="/home/nickbender/bagfiles/" />
    <arg name="bag_file" default="ftcarson_small_demo" />
    <node pkg="rosbag" type="play" name="player" output="screen" args="$(arg path)$(arg bag_file).bag"/>

    <!-- Launch the manager -->
    <node pkg="smartbase_radar" name="manager" type="manager.py" output="screen"/>

</launch>
